$color_bg_select: #399d6e;
$color_fg_select: rgb(186, 194, 78);
$color_bg: #F8F8E0;
$color_fg: black; // #278727;
$color_bg_area: #e7e791;
$color_border:  rgb(74, 195, 74);
$color_bg_nav: #f6f6ba;
$color_bg_nav1: #ececa4;

.bg-area {
  background-color: $color_bg_area;
}

.tabbt.is-selected {
  background-color: $color_bg_select;
  color: $color_fg_select;
}

.is-active {
  background-color: $color_bg_select;
  color: $color_fg_select;
}

.navtab-main {
  border-radius: .5rem;
  padding:0;
  background-color: $color_bg_nav;
  border: thin dotted $color_border;
}

.navtab-sub {
  border-radius: .5rem;
  padding:0;
  background-color: $color_bg_nav1;
  border: thin dotted $color_border;
}

.area {
  border-radius: .75rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: $color_bg_area;
  border: thin solid $color_border;
}

html {
font-size: 100%;
background-color: $color_bg;
color: $color_fg;
}

.help-text-v0 {
  display:none;
}

.help-text-v1 {
  font-size: 90%;
}

.cb {
  width: 1em;
  height: 1em;
}

h3 {
  text-align: center;
  margin-top: 0px;
  background-color: $color_bg_select;
  color: $color_fg_select;
  grid-area: header;
  justify-self: stretch;
  align-self: start;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-device-width: 360px) {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .top_table {
    width: inherit;
    //@extend .full-width; 
  }
}


select,button,input {
  background-color: $color_bg;
  border: thin solid $color_border;
}

input {
  background-color: white;
}