$color_bg_select: hsl(152, 47%, 42%);
$color_fg_select: hsl(64, 49%, 53%);
$color_bg: hsl(60, 63%, 93%);
$color_fg: hsl(0, 0%, 0%); // #278727;
$color_bg_area: hsl(60, 64%, 74%);
$color_bg_main_area: hsl(60, 56%, 68%);
$color_border:  hsl(120, 50%, 53%);
$color_main_border:  hsl(120, 50%, 40%);
$color_bg_nav: hsl(60, 77%, 85%);
$color_bg_nav1: hsl(60, 65%, 78%);

.bg-selected {
  background-color: $color_bg_select;
}
.fg-selected {
  color: $color_fg_select;
}

.bg-area {
  background-color: $color_bg_area;
}

.tabbt.is-selected {
  background-color: $color_bg_select;
  color: $color_fg_select;
}

.is-active {
  background-color: $color_bg_select;
  color: $color_fg_select;
}

.navtab-main {
  border-radius: .5rem;
  padding:0;
  background-color: $color_bg_nav;
  border: thin dotted $color_border;
}

.navtab-sub {
  border-radius: .5rem;
  padding:0;
  background-color: $color_bg_nav1;
  border: thin dotted $color_border;
}

.main-area {
  border-radius: .75rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: $color_bg_main_area;
  border: thin solid $color_border;
}

.area {
  border-radius: .75rem;
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: $color_bg_area;
  border: thin solid $color_border;
}

html {
font-size: 100%;
background-color: $color_bg;
color: $color_fg;
}

.help-text-v0 {
  display:none;
}

.help-text-v1 {
  font-size: 90%;
}

.cb {
  width: 1em;
  height: 1em;
}

h3 {
  text-align: center;
  margin-top: 0px;
  background-color: $color_bg_select;
  color: $color_fg_select;
  grid-area: header;
  justify-self: stretch;
  align-self: start;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@media only screen and (max-device-width: 360px) {
  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  .top_table {
    width: inherit;
    //@extend .full-width; 
  }
}


select,button,input {
  background-color: $color_bg;
  border: thin solid $color_border;
}

input {
  background-color: white;
}

.conf-table label {
  padding: 2px;
  margin-right: 3px;
}
.config-input.text {
  width: inherit;
}
.config-input.number {
  width: 5rem;
}