[submodule "components-mcu"]
	path = comp/external/components-mcu
	url = https://github.com/zwiebert/components-mcu.git
[submodule "test/unity"]
	path = test/host/unity
	url = https://github.com/ThrowTheSwitch/Unity.git
