* {
  font-size: 100%;
}

.help_text {
  display: none;
  font-size: 90%;
}

.cb {
  width: 1em;
  height: 1em;
}

input:focus {
  font-size: 100%;
}

#configdiv {
  background-color: #eee;
}

#autodiv {
  background-color: #eee;
}

h3 {
  text-align: center;
  margin-top: 0px;
  background-color: hsl(220, 60%, 60%);
  color: white;
  grid-area: header;
  justify-self: stretch;
  align-self: start;
}

$color_bg: #ceee;

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  50.01% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}