menu "TronfernoMCU Configuration"

config MY_WIFI_SSID
    string "WiFi SSID"
	default ""
	help
		SSID (network name) for the example to connect to.

config MY_WIFI_PASSWORD
    string "WiFi Password"
	default ""
	help
		WiFi password (WPA or WPA2) for the example to use.

		Can be left blank if the network has no security set.


config MY_FER_CENTRAL_UNIT_ID
    hex "Fernotron Central Unit ID"
	default 0x8012345
		
config MY_MCU_UART_BAUD_RATE
	int "MCU UART baud rate"
	default 115200



config MY_GEO_TZ
	string "time zone in POSIX TZ format"
	default "CET-1CEST-2,M3.5.0,M10.5.0"
	help
		required for programming the shutter's internal clock with localtime and daylight-saving status"
	
config MY_GEO_TIMEZONE
	int "normal (not DST) time zone as hour offset to UTC/GMT"
	default 1
	help
		used to calculate twilight time tabels required by shutters astro function

 	
endmenu
