menu "Tronferno Project Configuration"
 
config APP_USE_JSON
  bool "Activate JSON"
  default y

config APP_USE_POSIX_TIME
  bool "Activate POSIX_TIME"
  default y

config APP_USE_SERIAL
  bool "Activate SERIAL"
  default y

config APP_USE_WDG
  bool "Activate WDG"
  default y

config APP_USE_FS
  bool "Activate FS"
  default y

config APP_USE_OTA
  bool "Activate OTA"
  default y

config APP_USE_STM32OTA
  bool "Activate STM32OTA"
  default y

config APP_USE_WS
  bool "Activate WS"
  default y

config APP_USE_MUTEX
  bool "Activate MUTEX"
  default y

config APP_USE_CLI_TASK
  bool "Activate CLI_TASK"
  default y

config APP_USE_CONFIG_KVS
  bool "Activate CONFIG_KVS"
  default y
  
config APP_USE_ESP_GET_TIME
  bool "Activate ESP_GET_TIME"
  default y

config APP_USE_GPIO_PINS
  bool "Activate USE_GPIO_PINS"
  default y 
 
config APP_USE_FREERTOS
  bool "Activate USE_FREERTOS"
  default y

config APP_USE_MDR_TIME
  bool "Activate USE_MDR_TIME"
  default n
  
config APP_USE_TIMER_TASK
  bool "Split timer ISR into ISR and high priority task"
  default n
  help
      Instead of calling the RF-transceiver tick functions directly from timer ISR, move these calls to a high priority task, and only do sampling and setting the GPIO RX/TX pins in the ISR
  
  endmenu