{
    "APP_CFG_NAMESPACE": "Settings",
    "APP_FER_CENTRAL_UNIT_ID": 8393268,
    "APP_FER_GM_USE": 125269879,
    "APP_GEO_TZ": "CET-1CEST-2,M3.5.0,M10.5.0",
    "APP_GPIO_NUMBER_OF_GPIOS": 40,
    "APP_HTTP_ENABLE": 0,
    "APP_HTTP_PASSWORD": "",
    "APP_HTTP_USER": "",
    "APP_MQTT_CLIENT_ID": "zb",
    "APP_MQTT_ENABLE": 0,
    "APP_MQTT_PASSWORD": "",
    "APP_MQTT_ROOT_TOPIC": "tfmcu",
    "APP_MQTT_URL": "",
    "APP_MQTT_USER": "",
    "APP_OTA_USE_CERT_BUNDLE": true,
    "APP_SETTINGS_PASSWORD": "",
    "APP_TCPS_CONNECTIONS_MAX": -1,
    "APP_TCPS_ENABLE": 1,
    "APP_TCPS_PORT": 7777,
    "APP_TCPS_PORT_IA": 0,
    "APP_UART_BAUD_RATE": 115200,
    "APP_USE_CLI_TASK": true,
    "APP_USE_CUAS": true,
    "APP_USE_ESP_GET_TIME": false,
    "APP_USE_FER_RECEIVER": true,
    "APP_USE_FER_TRANSMITTER": true,
    "APP_USE_GPIO_PINS": false,
    "APP_USE_MQTT": true,
    "APP_USE_MUTEX": false,
    "APP_USE_NETWORK": false,
    "APP_USE_PAIRINGS": true,
    "APP_USE_POSIX_TIME": true,
    "APP_USE_REPEATER": true,
    "APP_USE_RTC_AUTO_UPD": true,
    "APP_USE_SEP": true,
    "APP_USE_TIMER_DATA_FS": false,
    "APP_USE_TIMER_DATA_KVS": true,
    "APP_USE_TIMER_TASK": false,
    "APP_WIFI_AP_PASSWORD": "tronferno",
    "APP_WIFI_AP_SSID": "tronferno",
    "CLI_CMDLINE_ALLOW_LF": false,
    "CLI_DEBUG": false,
    "CLI_INTERACTIVE_CONSOLE": true,
    "CLI_JSON_ROOT_OBJECT": true,
    "CONFIG_KVS_HAVE_COMPONENT": true,
    "FERNOTRON_APP_DEBUG": false,
    "FERNOTRON_UOUT_DEBUG": false,
    "MAIN_LOOP_PERIOD_MS": 100,
    "NETWORK_CHECK_LOOP_PERIOD_S": 15,
    "NET_HAVE_COMPONENT": true,
    "NET_HTTP_CLIENT_DEBUG": false,
    "NET_HTTP_SERVER_DEBUG": false,
    "NET_HTTP_SERVER_HAVE_COMPONENT": true,
    "NET_MQTT_CLIENT_DEBUG": false,
    "NET_MQTT_CLIENT_HAVE_COMPONENT": true,
    "NET_NETWORK_DEBUG": false,
    "NET_NTP_CLIENT_DEBUG": false,
    "NET_TCP_CLI_CLIENT_DEBUG": false,
    "REQUIRE_ROOT_OBJECT": true,
    "TRONFERNO_PUBLISH_PCT_AS_TXT": false,
    "TRONFERNO_PUBLISH_TRX_AS_TXT": false,
    "TRONFERNO_TRX_DEBUG": false,
    "TXTIO_HAVE_COMPONENT": true,
    "UOUT_DEBUG": false,
    "UOUT_HAVE_COMPONENT": true,
    "UOUT_PUBLISH_IP_ADDR_AS_TXT": true,
    "UOUT_PUBLISH_LOG_AS_TXT": false,
    "UTILS_MISC_MUTEX_DEBUG": false,
    "WEATHER_OWM_URL_STRING": "http://api.openweathermap.org/data/2.5/weather?q=Berlin&APPID=12345678901234567890123456789012",
    "WEATHER_TEST_DEBUG": false
}