

      * { font-size:100%; }

      .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      }

      .help_text {
        displayXX:none;
        font-size:90%;
      }

      /* Style the buttons that are used to open the tab content */
      .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 270%;

      }

      /* Change background color of buttons on hover */
      .tab button:hover {
      background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
      background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
      displayXX: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      }

      .container {
      border: 1px solid #ccc;
      background-color: #eee;
      font-size: 270%;
      }

      .cb {
      width: 1em;
      height: 1em;
      }

      input:focus {
      font-size: 100%;
      }


      #senddiv {
      background-color: #eee;
      display: grid;
      width: 100%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
      "mn  mn  mn  ."
      "gi  pi  mi pr"
      "gb  pl  mb pr"
      ".   ub  .  pr"
      ".   sb  .  pr"
      "pb  db  .  pr"
      ;
      justify-items: center;
      align-items: center;
      grid-gap: 2px;
      }

      #XXaliasdiv {
      background-color: #eee;
      display: grid;
      /*width: 100%; */
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
      "ah . "
      "ap ap "
      "as at "
      "as at "
      "as at "
      "ar ar "
      ;
      justify-items: center;
      align-items: center;
      grid-gap: 2px;
      }

      #aliasHeader { grid-area: ah;}
      #aliases { grid-area: as; }
      #divPairAll { grid-area: at; }
      #aliasSaveReload { grid-area: ar;}
      #aliasPairUnpair { grid-area: ap; }


      #configdiv { background-color: #eee;  }

      #autodiv { background-color: #eee; }

      @media only screen and (max-resolution: 96dpi )  {
      .container, .tab button {
      font-size: 200%;
      }
      }

      @media (min-width: 1000px) {
      .container {
      font-size: 100%;
      }
      .tab button {
      font-size: 100%;
      }
      #senddiv {
      width: 500px;
      }
      }



      .sb {width: 5em; margin: 2px; }

      #sgb, #smb { border-radius: 40%; }
      #sgi, #spi, #smi { width: 2.5em; height: 2em; text-align: center; }
      #sgb, #smb { width: 2em; height: 2em; }
      #spr { height: 4em; }

      #ssb { font-size: 60%;  font-stretch: ultra-condensed; height: 4em; border-radius: 100% }
      #sub, #sdb { font-size: 125%; border-radius: 100% }

      #smn { grid-area: mn; }
      #sgi { grid-area: gi; }
      #sgb { grid-area: gb; }
      #spi { grid-area: pi; }
      #spb { grid-area: pl; }
      #smi { grid-area: mi; }
      #smb { grid-area: mb; }
      #sub { grid-area: ub; }
      #ssb { grid-area: sb; }
      #sdb { grid-area: db; }
      #spr { grid-area: pr; }
      #sspb { grid-area: pb; }


      .conf-table label { padding: 2px; width: 50vw; margin-right: 6px;}
      .conf-table .text { width: 100%; }
      #cfg_gm-used_tr, #tf_tr { display: none; }


      h3 {
      display: none;
      text-align: center;
      margin-top: 0px;
      background-color: hsl(220, 60%, 60%); color: white;
      grid-area: header; justify-self: stretch; align-self: start;
      }

      .dur_table {
        border: 2px solid black;
        padding: 2px;
      }

      @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 1; }
      50.01% { opacity: 0; }
      100% { opacity: 0; }
      }

      input[type="range"] {
      #position: absolute;
      #top: 40%;
      transform: rotate(270deg);
      }

