

      * { font-size:100%; }

      .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
      }

      .help_text {
        displayXX:none;
        font-size:90%;
      }

      /* Style the buttons that are used to open the tab content */
      .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 270%;

      }

      /* Change background color of buttons on hover */
      .tab button:hover {
      background-color: #ddd;
      }

      /* Create an active/current tablink class */
      .tab button.active {
      background-color: #ccc;
      }

      /* Style the tab content */
      .tabcontent {
      displayXX: none;
      padding: 6px 12px;
      border: 1px solid #ccc;
      border-top: none;
      }

      .container {
      border: 1px solid #ccc;
      background-color: #eee;
      font-size: 270%;
      }

      .cb {
      width: 1em;
      height: 1em;
      }

      input:focus {
      font-size: 100%;
      }



      #XXaliasdiv {
      background-color: #eee;
      display: grid;
      /*width: 100%; */
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(6, 1fr);
      grid-template-areas:
      "ah . "
      "ap ap "
      "as at "
      "as at "
      "as at "
      "ar ar "
      ;
      justify-items: center;
      align-items: center;
      grid-gap: 2px;
      }




      #configdiv { background-color: #eee;  }

      #autodiv { background-color: #eee; }

      @media only screen and (max-resolution: 96dpi )  {
      .container, .tab button {
      font-size: 200%;
      }
      }

      @media (min-width: 1000px) {
      .container {
      font-size: 100%;
      }
      .tab button {
      font-size: 100%;
      }



      .conf-table label { padding: 2px; width: 50vw; margin-right: 6px;}
      .conf-table .text { width: 100%; }
      #cfg_gm-used_tr, #tf_tr { display: none; }


      h3 {
      display: none;
      text-align: center;
      margin-top: 0px;
      background-color: hsl(220, 60%, 60%); color: white;
      grid-area: header; justify-self: stretch; align-self: start;
      }

      .dur_table {
        border: 2px solid black;
        padding: 2px;
      }

      @keyframes blink {
      0% { opacity: 1; }
      50% { opacity: 1; }
      50.01% { opacity: 0; }
      100% { opacity: 0; }
      }

      input[type="range"] {
      #position: absolute;
      #top: 40%;
      transform: rotate(270deg);
      }

