menu "Tronferno Project Configuration"

    config APP_USE_NETWORK
        bool "Compile NETWORK support"
        default y

    config APP_USE_HTTP
        depends on APP_USE_NETWORK
        bool "Compile HTTP server "
        default y

    config APP_USE_HTTP_SERVE_JS_MAP
        depends on APP_USE_HTTP
        bool "Serve wapp.js.map file"
        default y

    config APP_USE_HTTP_SERVE_CSS_MAP
        depends on APP_USE_HTTP
        bool "Serve wapp.css.map file"
        default n

    config APP_USE_WS
        depends on APP_USE_HTTP
        bool "Compile with Websocket support"
        default y

    config APP_USE_MQTT
        bool "Compile MQTT client"
        default y

    config APP_MQTT_CLIENT_ID
        string
        default "tfmcu"

    config APP_MQTT_ROOT_TOPIC
        string
        default "tfmcu"

    config APP_USE_OTA
        depends on APP_USE_NETWORK
        bool "Compile with over-the-air update support"
        default y

    config APP_OTA_URL_HEAD
        depends on APP_USE_OTA
        string "Firmware URL for repository"
        default "https://raw.githubusercontent.com/zwiebert/tronferno-mcu-bin/"

    config APP_OTA_URL_TAIL
        depends on APP_USE_OTA
        string "Firmware URL file path after branch or tag name"
        default "/firmware/esp32/tronferno-mcu.bin"

    config APP_USE_POSIX_TIME
        bool "Compile with Posix time support"
        default y

    config APP_USE_MUTEX
        bool "Compile with MUTEX support"
        default y
        help
            If disabled, use a dummy instead of a real Mutex
            Note: Disable it only for testing/debugging purposes

    config APP_USE_ESP_GET_TIME
        bool "Get up-time from esp_timer_get_time()"
        default y
        help
            Don't count up-time in our own timer-ISR.
            Use esp_timer_get_time() instead

    config APP_USE_GPIO_PINS
        bool "Compile with support for user defined GPIOs"
        default y
        help
            The user can define GPIOs from CLI/web-app, which then can be read or set via MQTT

    config APP_USE_TIMER_TASK
        bool "Split timer ISR into ISR and high priority task"
        default n
        help
            Instead of calling the RF-transceiver tick functions directly from timer ISR,
            move these calls to a high priority task, and only do sampling
            and setting the GPIO RX/TX pins in the ISR

    config APP_GEO_TZ
        string "POSIX TZ string"
        default "CET-1CEST-2,M3.5.0,M10.5.0"

    config APP_SETTINGS_PASSWORD
        string "password for MCU settings"
        default ""

    config APP_FER_CENTRAL_UNIT_ID
        hex "Default ID of programming centre"
        default 0x801234

    config APP_FER_GM_USE
        hex "Default active groups/receivers"
        default 0x7777777

    config APP_WIFI_AP_SSID
        string "WIFI/WLAN access-point SSID"
        default "tronferno"

    config APP_WIFI_AP_PASSWORD
        string "WIFI/WLAN access-point password"
        default "tronferno"

    config APP_CFG_NAMESPACE
        string "Namespace for kvs configuration storage"
        default "Tronferno"
        help
            Note: When changed, the previous configuration data will become inacessible

    config APP_GPIO_NUMBER_OF_GPIOS
        int "Number of available GPIOs"
        default 40
        help
            Number of GPIOs this MCU has (ESP32: 40)

    config MAIN_LOOP_PERIOD_MS
        int "main loop period in milliseconds"
        default 100
        help
            How frequently the main loop is called by timer

    config NETWORK_CHECK_LOOP_PERIOD_S
        int "network check loop period in seconds"
        default 15
        help
            How frequently the network connection is checked for appearing while disconnected

endmenu
